/* Filters style */
.filters {
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

/* Search button style */
.filters button {
	font: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	float: right;
	margin: 11px 30px;
}

/* Search button hover opacity */
.filters button:hover {
	background-color: rgba(255, 90, 95, .9);
}

/* Locations and amenities style */
.locations, .amenities{
    	height: 100%;
    	width: 25%;
    	float: left;
}

/* Locations border */
.locations {
    	border-right: 1px solid #DDDDDD;
}

/* Locations h3 and amenities h3 style */
.locations h3, .amenities h3 {
    	font-weight: 600;
    	text-align: left;
    	padding-left: 35px;  
    
}

/* Locations h4 and amenities h4 style */
.locations h4, .amenities h4 {
    	font-weight: 400;
    	font-size: 14px;
    	text-align: left;
    	padding-left: 35px;
    	position: relative;
    	bottom: 20px;
}

/* display location and amenities options upon hover with dropdown */
.popover {
    	display: none;
    	background-color: #FAFAFA;
    	border: 1px solid #DDDDDD;
    	border-radius: 4px;
    	position: relative;
    	bottom: 18px; 
}

.popover h2 {
    	font-size: 16px;
}

li {
	list-style-type: none;
    	margin-top: 1px;
    	margin-bottom: 10px;
}

.locations:hover .popover,
.amenities:hover .popover {
	display: block;
}
